/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-temperature {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}
.temp-form {
	background-color: yellow;
	padding: 20px;
	color: #f10909;
	// nested because of sass
	input{
		background-color: aqua;
		border: none;
	}
}